{
  "singleQuote": true,
  "semi": false,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "max-len": ["error", 140, 2],
  "tabWidth": 2,
  "useTabs": false
}
